<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <header>
        <nav>
            <ul>
                <li>
                    <a href ="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href ="{% url 'create_category' %}">Create Category</a>
                </li>
            </ul>
        </nav>
    </header>
    <body>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expense_object %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
